body {
    font-family: 'Helvetica Neue', sans-serif;
    max-width: 700px;
    margin: 40px auto;
    padding: 0 20px;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

h1 {
    color: #098b6d;
    font-size: 28px;
}

p {
    font-size: 18px;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #044d30;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
